<button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#addSanctionedEntity">New Entity</button>

<!-- Modal -->
<div class="modal" id="addSanctionedEntity" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSanctionedEntityLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addSanctionedEntityLabel">New Sanctioned Entity</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
			</div>
			<div class="modal-body">
				<sanctioned-entity-editor (addEntityRequest)="addEntity($event)" (formStatusChanged)="onFormStatusChange($event)"></sanctioned-entity-editor>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" (click)="submitForm()" [disabled]="!isValidForm">Add</button>
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="submitForm()" [disabled]="!isValidForm">Add &amp; Close</button>
			</div>
		</div>
	</div>
</div>
